<footer class="text-center text-lg-start text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/" class="text-white">ホーム</a>
          </li>
          <li>
            <a href="/menu" class="text-white">メニュー</a>
          </li>
          <li>
            <a href="/seats" class="text-white">お席</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/access" class="text-white">アクセス</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-md-0">
        <h5 class="text-uppercase">
          <img src="../static/img/title.png" />
        </h5>
        <p>
          本社：〒880-0834 宮崎県宮崎市新別府町雀田1185番地<br />
          (宮崎市中央卸売市場内)<br />
          ＴＥＬ：0985-31-1745 / ＦＡＸ：0985-26-6116<br />
          営業時間:ＡＭ6:00～ＰＭ3:00<br />
          定休日:日曜・祝日・隔週水曜日
        </p>
      </div>
    </div>
    <div class="text-center p-2">
      Copyright © 2024
      <a class="text-white" href="https://okazaki-bokujyo.co.jp/"
        >Okazaki Bokujo.
      </a>
      All rights Reserved.
    </div>
  </div>
</footer>
