<header>
  <div class="top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
      <div class="container">
        <a href="/" class="imga"
          ><img
            src="../static/img/h1-title_sp.png"
            width="50%"
            height="50%"
            class="py-sm-0"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                ホーム<br />
                <h5>HOME</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                メニュー<br />
                <h5>MENU</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/seats"
                ><i class="fa fa-caret-right" aria-hidden="true"></i> お席<br />
                <h5 class="line">SEATS</h5></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/access"
                ><i class="fa fa-caret-right" aria-hidden="true"></i>
                アクセス<br />
                <h5>ACCESS</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
