<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/top.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="shortcut icon" href="../static/img/icon.ico" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>岡崎牧場焼肉店</title>
  </head>
  {% block header %} {% include 'header.html' %} {% endblock %}
  <body>
    <div class="pankuzu">
      <ul>
        <li class="first">
          <i class="fa fa-home" aria-hidden="true"></i><a href="/">ホーム</a>
        </li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>メニュー</li>
      </ul>
    </div>
    <div class="toppart">
      <p>MENU</p>
      <h2>メニュー</h2>
    </div>
    <div class="container container-m">
      <div class="row g-3">
        <h2 class="text-center m">グランドメニュー</h2>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku1.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">大皿セット <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku2.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">特選焼肉 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku3.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">牛焼肉 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku4.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">豚・鶏焼肉 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku5.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">ホルモン <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku6.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">刺身 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku1.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">焼き野菜 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku2.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">サラダ <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku3.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">豚・鳥 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku1.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">大皿セット <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku2.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">牛肉 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
          <div class="card">
            <img src="../static/img/kariniku3.jpg" class="card-img-top" />
            <div class="card-header bg-white border-0"></div>
            <h5 class="card-title font-weight-bold text-center">豚・鳥 <i class="fa fa-angle-right fa-lg color" aria-hidden="true"></i></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="text-white">ランチ</h2>
          <div class="card custom-card">
            <img src="../static/img/karicard400x400.jpg" class="card-img-top" alt="Image 1">
          </div>
        </div>
    
        <div class="col-lg-6">
          <h2 class="text-white">テイクアウト</h2>
          <div class="card custom-card">
            <img src="../static/img/karicard400x400.jpg" class="card-img-top" alt="Image 2">
          </div>
        </div>
      </div>
    </div>
    
    <div class="pagetop">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
    <script src="../static/js/script.js">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
  {% block footer %} {% include 'footer.html'%} {% endblock %}
</html>
